name: Playwright Tests
on:
  push:
    branches: [ main, master, dev ]
  pull_request:
    branches: [ main, master, dev ]
jobs:
  playwright:
    name: 'Playwright Tests'
    permissions:
      contents: read
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.57.0
      options: --user 1001
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Build NovaCrate
        run: npm run build
      - name: Run playwright tests
        run: npm run test
      - name: Upload Playwright Report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: playwright-report
          path: playwright-report/index.html
      - name: Append Playwright Report to GitHub Summary
        run: echo "Playwright tests completed. [View Report](./playwright-report/index.html)" >> $GITHUB_STEP_SUMMARY